
.skin-blue .main-header .logo {
        background-color: #2c3444;
      }
      
.skin-blue .main-header .navbar {
    background-color: #2c3444;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #2c3444;
}

a:focus, a:hover {
    color: #2c3444;
    text-decoration: underline;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: #44546c;
    border-left-color: #637B9B;
}

.skin-blue .treeview-menu>li>a {
    background: #2c3444;
}
.content-wrapper, .right-side {
    background-color: #f2f4f7;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background-color: #44546c;
}

.box.box-solid.box-primary {
    border: 1px solid #44546c;
}

.btn-default {
    background-color: #44546c;
    color: #FFF;
    border-color: #44546c;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #44546c;
}

.nav-tabs-custom>.nav-tabs {
    border-bottom-color: #44546c;
}

.progress-bar {
    background-color: #c1121f;
}

.box.box-primary {
    border-top-color: #44546c;
}

table {
    background-color: #404C63;
    color: #fff;
}

tbody {background-color: #fff;
    color: #000;
    
}