
.skin-blue .main-header .logo {
        background-color: #204060;
      }
      
.skin-blue .main-header .navbar {
    background-color: #204060;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #204060;
}

a:focus, a:hover {
    color: #25405b;
    text-decoration: underline;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: #1b3651;
    border-left-color: #3c8dbc;
}

.skin-blue .treeview-menu>li>a {
    background: #1b3651;
}
.content-wrapper, .right-side {
    background-color: #fff;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background-color: #204060;
}

.box.box-solid.box-primary {
    border: 1px solid #204060;
}

.btn-default {
    background-color: #204060;
    color: #FFF;
    border-color: #204060;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #204060;
}

.nav-tabs-custom>.nav-tabs {
    border-bottom-color: #204060;
}

.progress-bar {
    background-color: #800000;
}
