/*-Varijable za boje----------------- */
/*-Logo---------------------------- */
.skin-blue .main-header .logo {
  background-color: #635b6c;
}

.skin-blue .main-header .logo:hover {
  background-color: #635b6c;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #635b6c;
}

/*-Heaader---------------------------- */
.skin-blue .main-header .navbar {
  background-color: #635b6c;
}

/*-Sidebar---------------------------- */
.skin-blue .sidebar a {
  color: #ffffff;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
  background-color: #524c59;
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a {
  background: #322f36;
  color: #ffffff;
  border-left-color: #635b6c;
}

.skin-blue .treeview-menu > li > a {
  background: #423d48;
  color: #ffffff;
}

.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
  background: #322f36;
  color: #ffffff;
}

.skin-blue .treeview-menu > li > :hover {
  background: #322f36;
  color: #ffffff;
}

/*-Content---------------------------- */
.content-wrapper, .right-side {
  background-color: #242126;
}

/*-Box---------------------------- */
.box-header {
  color: #ffffff;
  background-color: #423d48;
  display: block;
  padding: 10px;
  position: relative;
}

.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background-color: #423d48;
}

.box.box-solid.box-primary {
  border: 1px solid #423d48;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  color: #ffffff;
  background-color: #423d48;
}

.box.box-primary {
  border-top-color: #423d48;
}

/*-Button ---------------------------- */
.btn-default {
  background-color: #322f36;
  color: #ffffff;
  border-color: #322f36;
}

.btn-default:hover {
  background-color: #242126;
  color: #ffffff;
  border-color: #242126;
}

.input-group .form-control {
  background-color: #635b6c;
  border-color: #635b6c;
  color: #242126;
}

/*-Progress bar ------------------------ */
.progress-bar {
  background-color: #90869b;
}

/*-Tab ------------------------------- */
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #242126;
}

.nav-tabs-custom > .nav-tabs > li.active:hover > a, .nav-tabs-custom > .nav-tabs > li.active > a {
  border-left-color: #242126;
  border-right-color: #242126;
  background-color: #423d48;
  color: #ffffff;
}

.nav-tabs-custom > .nav-tabs {
  color: #ffffff;
  background-color: #524c59;
  border-bottom-color: #524c59;
}

.nav-tabs-custom > .nav-tabs > li > a {
  color: #ffffff;
}

.nav-tabs-custom > .tab-content {
  background: #423d48;
  color: #ffffff;
  padding: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/*-Table ------------------------------- */
.table.dataTable tbody td.active, .table.dataTable tbody tr.active td {
  background-color: #322f36;
  color: #ffffff;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  background-color: #423d48;
  color: #ffffff;
  border-top: 1px solid #635b6c;
}

/* - Input -------------------------------*/
.form-control {
  background-color: #635b6c;
  color: #ffffff;
  border-color: #90869b;
}/*# sourceMappingURL=style.css.map */