
/*-Logo---------------------------- */
.skin-blue .main-header .logo {
    background-color: #323232;
  }
  .skin-blue .main-header .logo:hover {
    background-color: #323232;
  }
  .skin-blue .main-header .navbar .sidebar-toggle:hover {
     background-color: #4c4c4c;
  }
  /*-Heaader---------------------------- */
  .skin-blue .main-header .navbar {
    background-color: #323232;
  }
  /*-Sidebar---------------------------- */
  .skin-blue .sidebar a {
    color: #ffffff;
  }
  .skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #4c4c4c;
  }
  .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a {
    background: #666666;
    color: #ffffff;
    border-left: 6px solid #A81627;
  }
  .skin-blue .treeview-menu > li > a {
    background: #7f7f7f;
    color: #ffffff;
  }
  .skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
    background: #666666;
    color: #ffffff;
    border-left: 4px solid #A81627;
  }
  .skin-blue .treeview-menu > li > :hover {
    background: #666666;
    color: #ffffff;
  }
  .skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #4c4c4c;
}
  /*-Content---------------------------- */
  .content-wrapper, .right-side {
    background-color: #e5e5e5;
  }
  /*-Box---------------------------- */
  .box-header {
    color: #000000;
    background-color: #ffffff;
    display: block;
    padding: 10px;
    position: relative;
  }
  .box.box-solid.box-primary > .box-header {
    color: #000000;
    background-color: #ffffff;
    border-top: 3px solid #A81627;
    
  }
  .btn-box-tool {
    background: #A81627;
    color: #ffffff;
  }
  
  .box.box-solid.box-primary {
    border: 1px solid #ffffff;
  }
  .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    color: #000000;
    background-color: #ffffff;
  }
  .box.box-primary {
    border-top: 3px solid #A81627;
    border-bottom: 1px solid #A81627;
  }
  /*-Button ---------------------------- 
  .btn-default {
    background-color: #A81627;
    color: #ffffff;
    border-color: #A81627;
  }
  .btn-default:hover {
    background-color: #b94452;
    color: #ffffff;
    border-color: #b94452;
  }
  .input-group .form-control {
    background-color: #c25b67;
    border-color: #c25b67;
    color: #ffffff;
  } */
  /*-Progress bar ------------------------ */
  .progress-bar {
    background-color: #e4b9be;
    color: #000000;
  }
  /*-Tab ------------------------------- */
  .nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #A81627;
  }
  .nav-tabs-custom > .nav-tabs > li.active:hover > a, .nav-tabs-custom > .nav-tabs > li.active > a {
    background-color: #ffffff;
    color: #000000;
  }
  .nav-tabs-custom > .nav-tabs {
    color: #000000;
    background-color: #ffffff;
  }
  .nav-tabs-custom > .nav-tabs > li > a {
    color: #000000;
  }
  .nav-tabs-custom > .tab-content {
    background: #ffffff;
    color: #000000;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  /*-Table ------------------------------- */
  .table.dataTable tbody td.active, .table.dataTable tbody tr.active td {
    background-color: #e6eaf2;
    color: #000000;
  }
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    background-color: #ffffff;
    color: #000000;
  }
  /* - Input -------------------------------*/
  
.form-control {
  background-color: #b2b2b2;
  color: #000000;
  border-color: #b2b2b2;
}

/* - Bar -------------------------------*/
.irs--shiny .irs-bar {
    top: 25px;
    height: 8px;
    border-top: 1px solid #8e8e8e;
    border-bottom: 1px solid #8e8e8e;
    background: #b2b2b2;
}
.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
    color: #fff;
    text-shadow: none;
    padding: 1px 3px;
    background-color: #A81627;
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.333;
}

